.container-fluid {
    background: url("../../assets//headerBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    background-position: bottom;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    h1 {
      font-family: "Charmonman", cursive;
      font-size: 5em;
      font-weight: 800;
    }
  }
  