.row {
  height: 450px;
  .header-l {
    background-image: url("../../assets/header/headerL.png");
    background-repeat: no-repeat;
  }
  .header-c {
    background-image: url("../../assets/header/headerC.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
  }
  .header-r {
    background-image: url("../../assets/header/headerR.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }
}
