<div class="container-fluid">
    <div class="row">
        <div class="col-2 header-l px-0">
            <img src="../../assets/header/headerL.png" class="header-l-img float-left" alt="">
        </div>
        <div class="col-8 header-c align-items-center px-0">
            <img src="../../assets/header/headerC.png" class="header-c-img mx-auto d-block align-middle" alt="">
        </div>
        <div class="col-2 header-r px-0">
            <img src="../../assets/header/headerR.png" class="header-r-img float-right" alt="">
        </div>
    </div>
</div>

<!-- <img src="{{headerTemp}}" class="img-fluid" alt="Responsive image"> -->