.container-fluid {
  background-color: white;
  height: 450px;
  .header-l {
    height: 450px;
    .header-l-img {
      height: 450px;
    }
  }
  .header-c {
    height: 450px;
    .header-c-img {
      height: 60vw;
      margin-top: 40px;
    }
  }
  .header-r {
    height: 450px;
    .header-r-img {
      height: 450px;
    }
  }
}

@media only screen and (min-width: 400px) {
  .container-fluid {
    .header-c {
      .header-c-img {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container-fluid {
    .header-c {
      .header-c-img {
        height: 450px;
      }
    }
  }
}
