<div class="mt-3">
  <nb-card>
    <nb-card-header>
      Dodaj nowy plakat:
    </nb-card-header>
    <nb-card-body>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
            <form [formGroup]="posterForm" class="mx-auto d-block">
              <p class="mt-2 mt-sm-3">Opis:</p>
              <input type="text" formControlName="description" class="form-control">
              <br>
              <p>Data wydarzenia:</p>
              <input type="text" formControlName="happensAt" class="form-control">
              <br>
              <input type="file" formControlName="file" (change)="onFileChange($event)" />
            </form>
          </div>
          <div class="col-12 col-sm-6">
            <p>Podgląd</p>
            <div class="preview">
              
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary mt-2 mt-sm-3" [disabled]="posterForm.invalid || posterForm.pristine">
              Dodaj nowy plakat
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
</div>