<div class="mt-3">
  <!-- <nb-card class="newPoster">
    <nb-card-body>
      Wstaw nowy plakat
    </nb-card-body>
  </nb-card>
  <h5 class="text-center my-4">
    Lista plakatów w bazie:
  </h5>
  <nb-card *ngFor="let poster of postersList" class="existingPoster">
    <nb-card-body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 col-sm-3 order-1">
            <img src="{{poster.posterPhotoUrl}}" class="mx-auto d-block" alt="">
          </div>
          <div class="col-4 col-sm-1 mt-3 mt-sm-0 order-3">
            <p>Opis:</p> <br>
            <p>Data:</p> <br>
          </div>
          <div class="col-8 col-sm-4 mt-3 mt-sm-0 order-4">
              <p>{{poster.description}}</p> <br>
              <p>{{poster.happensAt | date :'dd-MM-yy HH:mm' }}</p> <br>
          </div>
          <div class="col-6 col-sm-4 trash order-2 order-sm-5">
              <i class="fa fa-trash"></i>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card> -->
  <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
</div>