.newPoster {
  height: 200px;
}
.existingPoster {
  height: 250px;
  img {
    height: 100px;
  }
  .trash {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  i {
    font-size: 5em;
  }
  i:hover {
    color: red;
  }
}

@media only screen and (min-width: 576px) {
  .existingPoster {
    height: 140px;
  }
}
