<div class="container">
  <div class="row">
    <div class="col-sm-4 mt-sm-2 mt-md-3 mt-lg-5 poster-left">
      <div class="card">
        <img class="card-img-top" src="{{rootUrl}}{{events[0].posterPhotoUrl}}">
      </div>
    </div>
    <div class="col-sm-4 mt-sm-2 mt-md-3 mt-lg-5 poster-center">
      <div class="card">
        <img class="card-img-top" src="{{rootUrl}}{{events[1].posterPhotoUrl}}">
      </div>
    </div>
    <div class="col-sm-4 mt-sm-2 mt-md-3 mt-lg-5 poster-right">
      <div class="card">
        <img class="card-img-top" src="{{rootUrl}}{{events[2].posterPhotoUrl}}">
      </div>
    </div>
  </div>
</div>