.card {
  align-content: space-between;
  .card-img-top {
    border: 1px solid grey;
    border-radius: 0.25rem;
  }
  .card-body {
    white-space: pre-line;
    p {
      color: black;
    }
    h5 {
      color: black;
    }
  }
}
