.navbar {
  .nav-link,
  .dropdown-item,
  .navbar-toggler {
    font-family: 'Open Sans', sans-serif;
    color: black;
  }
  .nav-link:hover,
  .dropdown-item:hover {
    color: #00a9ff;
    cursor: pointer;
  }
  box-shadow: 0 2px 5px lightgrey;
  .navbar-toggler {
    color: grey;
    font-size: 30px;
    border: none;
  }
}
