<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top mt-0" *ngIf="!isAuth">
  <img src="{{nav}}" class="navbar-toggler mx-auto" (click)="isCollapsed = !isCollapsed">
  <div class="collapse navbar-collapse" [ngClass]="isCollapsed ? 'd-block' : 'd-none'">
    <ul class="navbar-nav mx-auto text-center">
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/aktualnosci']">AKTUALNOŚCI</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/oprojekcie']">O PROJEKCIE</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/galeria']">GALERIA</a>
      </li>
      <li class="nav-item mx-1" ngbDropdown>
        <a class="nav-link" id="nav-dropdown-2" ngbDropdownToggle>
          ZAINSPIRUJ!
        </a>
        <div ngbDropdownMenu class="mt-2 text-center">
          <a class="dropdown-item" [routerLink]="['/goscie']">Odwiedzili nas</a>
          <a class="dropdown-item" [routerLink]="['/skirtchat']">#skirtchat</a>
        </div>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/onas']">O NAS</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" [routerLink]="['/kontakt']">KONTAKT</a>
      </li>
    </ul>
  </div>
</nav>